@import url(scss/mediaqueries.scss) ;

$amarillo: rgb(206, 206, 91);


/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Mukta:wght@300&family=Mulish&family=Oswald&display=swap');
html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	width: 100%;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 0 auto;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0;
}
main {
	flex: 1 0 auto;
}



/* Header */

.navbar {
    background-color: rgb(0, 0, 0);
	font-family: Arial;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	.Logo {
		padding-top: 5px;
	}	
}


/* font-family: 'Cinzel Decorative', cursive;*/


.dropdown { 
    padding-top: 18px;
	padding-bottom: 10px;
	font-family: 'Mulish', sans-serif;
	width: auto;
	position: relative;
	left: 150px;
        .dropbtn {
            font-size: 24px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }
}
.navbar a:hover .dropdown:hover .dropbtn {
	background-color: rgba(56, 71, 57, 0.637);
	height: auto;
}



.dropdown-content {
    background-color:black;
      box-shadow: 0px 8px 16px 0px rgba(251, 255, 31, 0.2);
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        a{
            float: none;
            color:white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        a:hover {
            background-color:rgba(230, 230, 89, 0.808);
        }
}        



.toggle{
    width: 50px;
    height: 50px;
    background: $amarillo;
    border-radius: 50%;
    border: 2px solid $amarillo;
    cursor: pointer;
	position: fixed;
	bottom: 75px;
	right: 65px;
}
.toggle::before{
    content: '\f1e0';
    width: 100%;
    height: 100%;
	position: absolute;
    color: black;
    font-family: fontAwesome;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
.share.active .toggle::before{
    content: '\f00d';
    font-size: 2rem;
}
.share{
    position: relative;
}
.share ol{
	position: fixed;
	bottom: 75px;
	right: 65px;
    margin: 2px;
    width: 50px;
    height: 50px;
}
.share ol li{
	position: fixed;
	bottom: 75px;
	right: 65px;
    width: 50px;
    height: 50px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .4s;
}
.share ol li a{
    color: black;
}
.share.active ol li{
    transform: translate(0);
    transition: all 0.4s;
}
.share.active ol li:nth-child(1){
    transition-delay: 0.1s;
    transform: translateX(60px);
}
.share.active ol li:nth-child(2){
    transition-delay: 0.2s;
    transform: translateY(60px);
}
.share.active ol li:nth-child(3){
    transition-delay: 0.3s;
    transform: translateX(-60px);
}
.share.active ol li:nth-child(4){
    transition-delay: 0.4s;
    transform: translateY(-60px);
}

/* .logoMail {
	position: fixed;
    left: 30px;
    bottom: 35px;
    background-color: rgba(23, 45, 87, 0.696);
    width: 60px;
    height: 60px;
    border-radius: 100%;
} 
.imgMail {
	width: 150%;
    height: 150%;
	position: relative;
	right: 15px;
	bottom: 17.5px;
	transform: scale(.6);
}
 .animMail {
	background-color: rgba(23, 45, 87, 0.696);
	color:white;
	position: fixed;
	left: 100px;
	bottom: 35px;
	padding: 3px;
	text-align: center;
	animation-name: animate__bounceInRight;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 3s;
}
*/


/* Main */

.mainContentInicio {
	background-image: url(../imagenes/fotos-gonza/audion-en-vorterix-osc.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	max-height: auto;
	max-width: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
		.mainContentInicio__Intro {
		display: flex;
		flex-direction: row;
		height: 1000px;
		padding-top: 400px;
			.mainContentInicio__Intro-texto {
				display: flex;
				flex-direction: column;
				padding-left: 20px;
				color: white;
				h2 {
					font-size: 100px;
				}
				h3 {
					color: $amarillo;
				}
				p {
					width: 700px;
				}
			}
		}
		.servicios-index {
			background-color: rgb(46, 45, 45);
			width: 100%;
			display: flex;
			flex-direction: column;
			color: white;
			align-items: center;
			justify-content: center;
			padding-top: 30px;
			padding-bottom: 30px;
			.serv-img	{
				display: flex;
				flex-direction: row;
				padding: 60px 60px;
				.serv-img-ind {
					display: flex;
					flex-direction: column;
					padding: 0 50px 0 50px;
					text-align: center;
				}
			}
		}
}

.btn-verMas{
    width: 180px;
    height: 50px;
    border: 2px solid rgb(50, 50, 50);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    overflow: hidden;
	position: relative;
	margin-top: 10px;
	background-color:rgba(0, 0, 0, 0.87);
	color: white;
	border-radius: 10px;
}
.btn-verMas p {
    color: rgb(184, 182, 182);
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    transition: all 0.4s;
}
.btn-verMas:hover p {
    color: $amarillo;
}
.btn-verMas span{
    position: absolute;
    transition: all 0.4s;
}
.btn-verMas span:nth-child(2),.btn span:nth-child(3){
    width: 100%;
    height: 2px;
    background-color: $amarillo;
}
.btn-verMas span:nth-child(2){
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
.btn-verMas span:nth-child(3){
    bottom: 0;
    left: 0;
    transform: translateX(100%);
}

.btn-verMas span:nth-child(4),.btn span:nth-child(5){
    width: 2px;
    height: 100%;
    background-color: $amarillo;
}
.btn-verMas span:nth-child(4){
    top: 0;
    right: 0;
    transform: translateY(-100%);
}
.btn-verMas span:nth-child(5){
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}
.btn-verMas:hover span{
    transform: translate(0);
}
.boton-verMas:hover {
	border: 0px;
}
/* 
.boton-verMas {
	margin-top: 10px;
	background-color:rgba(0, 0, 0, 0.87);
	color: white;
	border-radius: 5px;
	border: none;
}
.boton-verMas:hover {
	background-color:  rgba(230, 230, 89, 0.808);
	color: black;
	border-radius: 5px;
	border: none;
}
*/
.carrusel-inicio {
	margin-top: 75px;
	margin-bottom: 250px;
}
/* Estudios Audión */
.mainContentEA {
	background-image: url(../imagenes/fotos-estudio/collageEA.jpeg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	height: auto;
	display: flex;
	justify-content: center;
}

.servEA {
	position: absolute;
	right: 10px;
	color: white;
	background-color:  rgba(0, 0, 0, 0.445);
    font-weight: 300;
        a{
            text-decoration: none;
            color: white;
            font-weight: 500;
            font-size: medium;
        }
        a:hover {
            color: black;
            font-size: large;
            background-color: rgba(230, 230, 89, 0.808);
            border-radius: 5px;
        }
}

.linkEATienda{
	font-size: medium;
	color: white;
	position: absolute;
	left: 5px;
	background-color:  rgba(0, 0, 0, 0.445);
	font-weight: 300;
    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: medium;
    }
    a:hover{
        color: black;
        font-size: large;
        background-color: rgba(230, 230, 89, 0.808);
        border-radius: 5px;
    }
}


.EAppal {
	background-color:  rgba(0, 0, 0, 0.685) ;
	max-width: 750px;
	text-align: center;
	margin-top: 50px;
	color: white;
}
.contEA__titulos--color {
	color: $amarillo;
}
.contEA__1parr--p {    
	color: white;
	font-family: 'Mukta', sans-serif;
	margin-bottom: 10%;
}
.contEA__1parr:hover {
	background-color: rgba(0, 0, 0, 0.726);
}
.contEA__2parr:hover {
	background-color: rgba(0, 0, 0, 0.726);
}
.contEA__lista {    
	color: white;
	font-family: 'Mukta', sans-serif;
	margin-bottom: 10%;
	list-style-type: none;
}
.tablaEA {
	margin-top: 40px;
}
.tablaEA:hover {
	background-color: rgba(0, 0, 0, 0.726);
}
.tablaEA__capt {
	color: white;
	caption-side: top;
	font-size: medium;
	color: $amarillo;
}
.tablaEA__cont {
	color: white;
	align-self: center;
}
.imgtabla{
	width: 100px;
	height: 100px;
}
.section-title {
    h2{
        color:  $amarillo;
        margin-bottom: 0;
    }
}
.caja-servicio {
	background-color: rgba(0, 0, 0, 0.445);
	box-shadow: 0 10px 29px 0 rgba(255, 252, 69, 0.1);
    border: 1px solid rgba(2, 2, 2, 0.212);
}
.caja-servicio:hover {
	border: 1px solid $amarillo;
}
.servicios {
    a{
        color:  $amarillo;
    }
    a:hover {
        text-decoration: none;
        font-size: larger;
    }
}

.servicios-contenedor { 
	padding-bottom: 80px;
}

/* Gonzalo Villagra */
.fondoGV {
	background-image: url(../imagenes/fotos-gonza/foton-LN.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	height: auto;
	margin: 0;
	padding: 0;
}
.contGV{
	color: white;
	font-family: 'Mukta', sans-serif;
	display: block;
	box-sizing: content-box;
	max-width: 400px;
	max-height: 1300px;
	text-align: justify;
	background-color: rgba(0, 0, 0, 0.445);
	margin-left: 5px;
}
.titulo-gv {
	color: white;
	font-family: 'Mukta', sans-serif;
	font-size: 200%;
	margin: 0;
}

.texto-carrusel1-gv {
	
	h5 {
		color:$amarillo;
		background-color: rgba(0, 0, 0, 0.651) ;
	}
	p {
		color:$amarillo;
		background-color: rgba(0, 0, 0, 0.651) ;
	}
}

/* tienda y contrataciones */
.secc-tienda {
	
	h2 {
		color: $amarillo;
	}
	h4 {
		color: $amarillo;
	}
	p{
		color: white;
	}
}
.container-msj-size {
	font-size: medium;
}
/* 
.grillaTyc {
	display: grid;
	grid-template-areas: 
	"Servicios Servicios Servicios Servicios"  
	"Grabaciones Overdubs Mix Mastering"
	"Precio1 Precio2 Precio3 Precio4"
	"Productos Productos Productos Productos"
	"Indumentaria Discos Vinilos none"
	"Precios1 Precios2 Precios3 none";
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: 30px 200px 30px 30px 200px 30px;
}
.serviciostyc{
	grid-area: Servicios;
	border: 1px solid black;
}
.grabacionestyc {
	grid-area: Grabaciones ;
	border: 1px solid black;
	border-bottom: none;
}
.overdubstyc {
	grid-area: Overdubs;
	border: 1px solid black;
	border-bottom: none;
}
.mixtyc {
	grid-area: Mix;
	border: 1px solid black;
	border-bottom: none;
}
.masteringtyc {
	grid-area: Mastering;
	border: 1px solid black;
	border-bottom: none;
}
.precio1tyc {
	grid-area: Precio1;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.precio2tyc {
	grid-area: Precio2;
	border: 1px solid black;
	border-top: none;
	text-align: center;

}
.precio3tyc {
	grid-area: Precio3;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.precio4tyc {
	grid-area: Precio4;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.productostyc {
	grid-area: Productos;
	border: 1px solid black;
}
.indumentariatyc {
	grid-area: Indumentaria;
	border: 1px solid black;
	border-bottom: none;
}
.discostyc { 
	grid-area: Discos;
	border: 1px solid black;
	border-bottom: none;
}
.vinilostyc {
	grid-area: Vinilos;
	border: 1px solid black;
	border-bottom: none;
}
.precios1tyc {
	grid-area: Precios1;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.precios2tyc {
	grid-area: Precios2;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.precios3tyc {
	grid-area: Precios3;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
*/
/* Contacto */
.secc-contacto {
	background-image:radial-gradient( rgb(51, 51, 51), black);
	background-repeat:no-repeat;
	background-size: 100%;
	color: white;
	padding-bottom: 370px;
		h1 {
			padding-top: 100px;
		}

		input {
			width: 300px;
			height: 35px;
			margin-top: 20px;
		}
		textarea {
			width: 600px;
			height: 70px;
			margin-top: 5px;
		}
		input, textarea {
			background: transparent;
			border: solid 2px $amarillo;
			border-radius: 5px;
		}
		.botones {
			color: white;
			width: 100px;
		}
		.botones:hover {
			color: black;
			background-color: $amarillo;
		}
		::-webkit-input-placeholder {
			color: white;
		}
}
/* footer */
footer {
	background-color:  black;
	color: white;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
		
		.ubic {
			font-size: medium;
			text-align: center;
  			padding-top: 20px;
		}
		.minombre {
			font-size: small;
			padding-top: 10px;
			text-align: center;
			font-size: 13px;
		}
}    





