@charset "UTF-8";
@import url(scss/mediaqueries.scss);
/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Mukta:wght@300&family=Mulish&family=Oswald&display=swap");
html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  width: 100%; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0; }

main {
  flex: 1 0 auto; }

/* Header */
.navbar {
  background-color: black;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .navbar .Logo {
    padding-top: 5px; }

/* font-family: 'Cinzel Decorative', cursive;*/
.dropdown {
  padding-top: 18px;
  padding-bottom: 10px;
  font-family: 'Mulish', sans-serif;
  width: auto;
  position: relative;
  text-align: end; }
  .dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; }

.navbar a:hover .dropdown:hover .dropbtn {
  background-color: rgba(56, 71, 57, 0.637);
  height: auto; }

.dropdown-content {
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(251, 255, 31, 0.2);
  right: 0;
  left: auto; }
  .dropdown-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .dropdown-content a:hover {
    background-color: rgba(230, 230, 89, 0.808); }

.toggle {
  width: 50px;
  height: 50px;
  background: #cece5b;
  border-radius: 50%;
  border: 2px solid #cece5b;
  cursor: pointer;
  position: fixed;
  bottom: 75px;
  right: 65px; }

.toggle::before {
  content: '\f1e0';
  width: 100%;
  height: 100%;
  position: absolute;
  color: black;
  font-family: fontAwesome;
  text-align: center;
  line-height: 50px;
  font-size: 22px; }

.share.active .toggle::before {
  content: '\f00d';
  font-size: 2rem; }

.share {
  position: relative; }

.share ol {
  position: fixed;
  bottom: 75px;
  right: 65px;
  margin: 2px;
  width: 50px;
  height: 50px; }

.share ol li {
  position: fixed;
  bottom: 75px;
  right: 65px;
  width: 50px;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all .4s; }

.share ol li a {
  color: black; }

.share.active ol li {
  transform: translate(0);
  transition: all 0.4s; }

.share.active ol li:nth-child(1) {
  transition-delay: 0.1s;
  transform: translateX(60px); }

.share.active ol li:nth-child(2) {
  transition-delay: 0.2s;
  transform: translateY(60px); }

.share.active ol li:nth-child(3) {
  transition-delay: 0.3s;
  transform: translateX(-60px); }

.share.active ol li:nth-child(4) {
  transition-delay: 0.4s;
  transform: translateY(-60px); }

/* .logoMail {
	position: fixed;
    left: 30px;
    bottom: 35px;
    background-color: rgba(23, 45, 87, 0.696);
    width: 60px;
    height: 60px;
    border-radius: 100%;
} 
.imgMail {
	width: 150%;
    height: 150%;
	position: relative;
	right: 15px;
	bottom: 17.5px;
	transform: scale(.6);
}
 .animMail {
	background-color: rgba(23, 45, 87, 0.696);
	color:white;
	position: fixed;
	left: 100px;
	bottom: 35px;
	padding: 3px;
	text-align: center;
	animation-name: animate__bounceInRight;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 3s;
}
*/
/* Main */
.mainContentInicio {
  background-image: url(../imagenes/fotos-gonza/audion-en-vorterix-osc.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  max-height: auto;
  max-width: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }
  .mainContentInicio .mainContentInicio__Intro {
    display: flex;
    flex-direction: row;
    height: 1000px;
    padding-top: 400px; }
    .mainContentInicio .mainContentInicio__Intro .mainContentInicio__Intro-texto {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      color: white; }
      .mainContentInicio .mainContentInicio__Intro .mainContentInicio__Intro-texto h2 {
        font-size: 100px; }
      .mainContentInicio .mainContentInicio__Intro .mainContentInicio__Intro-texto h3 {
        color: #cece5b; }
      .mainContentInicio .mainContentInicio__Intro .mainContentInicio__Intro-texto p {
        width: 700px; }
  .mainContentInicio .servicios-index {
    background-color: #202020;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px; }
    .mainContentInicio .servicios-index h2 {
      font-size: 45px; }
    .mainContentInicio .servicios-index .serv-img {
      padding: 100px 100px; }
      .mainContentInicio .servicios-index .serv-img .serv-img-ind {
        display: flex;
        flex-direction: column;
        padding: 0 50px 0 50px;
        text-align: center; }
        .mainContentInicio .servicios-index .serv-img .serv-img-ind img {
          margin-bottom: 15px; }

.btn-verMas {
  width: 180px;
  height: 50px;
  border: 2px solid #323232;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  border-radius: 10px; }

.btn-verMas p {
  color: #b8b6b6;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  transition: all 0.4s; }

.btn-verMas:hover p {
  color: #cece5b; }

.btn-verMas span {
  position: absolute;
  transition: all 0.4s; }

.btn-verMas span:nth-child(2), .btn span:nth-child(3) {
  width: 100%;
  height: 2px;
  background-color: #cece5b; }

.btn-verMas span:nth-child(2) {
  top: 0;
  left: 0;
  transform: translateX(-100%); }

.btn-verMas span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform: translateX(100%); }

.btn-verMas span:nth-child(4), .btn span:nth-child(5) {
  width: 2px;
  height: 100%;
  background-color: #cece5b; }

.btn-verMas span:nth-child(4) {
  top: 0;
  right: 0;
  transform: translateY(-100%); }

.btn-verMas span:nth-child(5) {
  bottom: 0;
  left: 0;
  transform: translateY(100%); }

.btn-verMas:hover span {
  transform: translate(0); }

.boton-verMas:hover {
  border: 0px; }

/* Estudios Audión */
.mainContentEA {
  background-color: #131313;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  max-height: auto;
  max-width: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }
  .mainContentEA .mainContentEA__Intro {
    display: flex;
    flex-direction: row;
    height: 1000px;
    padding-top: 400px; }
    .mainContentEA .mainContentEA__Intro .nosotros {
      transform: rotate(-90deg);
      color: white;
      position: absolute;
      right: 1245px;
      bottom: 500px; }
    .mainContentEA .mainContentEA__Intro .mainContentEA-texto {
      display: flex;
      flex-direction: column;
      color: white;
      margin-left: 30px; }
      .mainContentEA .mainContentEA__Intro .mainContentEA-texto h2 {
        font-size: 50px;
        text-align: center; }
      .mainContentEA .mainContentEA__Intro .mainContentEA-texto p {
        width: 700px; }
      .mainContentEA .mainContentEA__Intro .mainContentEA-texto .mainContentEA-texto2 {
        margin-top: 90px; }
  .mainContentEA .fotos-estudio {
    border: 3.5px solid #cece5b;
    border-radius: 20px;
    align-content: center; }
    .mainContentEA .fotos-estudio .img-estu {
      transform: translateY(-50px) translateX(35px);
      padding: 0;
      margin-bottom: 25px; }
      .mainContentEA .fotos-estudio .img-estu img {
        border-radius: 20px; }
  .mainContentEA .equipamiento {
    background-image: url(../imagenes/fotos-cualq/equip-fondo-ea.png);
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 170px; }
    .mainContentEA .equipamiento h1 {
      color: white;
      font-size: 60px;
      text-align: center;
      margin-bottom: 60px; }
    .mainContentEA .equipamiento .equipamiento-img-caja {
      color: #cece5b;
      text-align: center;
      margin-left: 150px; }
      .mainContentEA .equipamiento .equipamiento-img-caja .img-equip {
        background-color: black;
        border: 1px solid white;
        padding: 0;
        margin: 20px; }
      .mainContentEA .equipamiento .equipamiento-img-caja .thumbnail:hover {
        transform: scale(1); }
    .mainContentEA .equipamiento .borrar {
      opacity: 0; }

/* Gonzalo Villagra */
.fondoGV {
  background-image: url(../imagenes/fotos-gonza/foton-LN.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: auto;
  margin: 0;
  padding: 0; }

.contGV {
  color: white;
  font-family: 'Mukta', sans-serif;
  display: block;
  box-sizing: content-box;
  max-width: 400px;
  max-height: 1300px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.445);
  margin-left: 5px; }

.titulo-gv {
  color: white;
  font-family: 'Mukta', sans-serif;
  font-size: 200%;
  margin: 0; }

.texto-carrusel1-gv h5 {
  color: #cece5b;
  background-color: rgba(0, 0, 0, 0.651); }

.texto-carrusel1-gv p {
  color: #cece5b;
  background-color: rgba(0, 0, 0, 0.651); }

/* tienda y contrataciones */
.secc-tienda h2 {
  color: #cece5b; }

.secc-tienda h4 {
  color: #cece5b; }

.secc-tienda p {
  color: white; }

.container-msj-size {
  font-size: medium; }

/* 
.grillaTyc {
	display: grid;
	grid-template-areas: 
	"Servicios Servicios Servicios Servicios"  
	"Grabaciones Overdubs Mix Mastering"
	"Precio1 Precio2 Precio3 Precio4"
	"Productos Productos Productos Productos"
	"Indumentaria Discos Vinilos none"
	"Precios1 Precios2 Precios3 none";
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: 30px 200px 30px 30px 200px 30px;
}
.serviciostyc{
	grid-area: Servicios;
	border: 1px solid black;
}
.grabacionestyc {
	grid-area: Grabaciones ;
	border: 1px solid black;
	border-bottom: none;
}
.overdubstyc {
	grid-area: Overdubs;
	border: 1px solid black;
	border-bottom: none;
}
.mixtyc {
	grid-area: Mix;
	border: 1px solid black;
	border-bottom: none;
}
.masteringtyc {
	grid-area: Mastering;
	border: 1px solid black;
	border-bottom: none;
}
.precio1tyc {
	grid-area: Precio1;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.precio2tyc {
	grid-area: Precio2;
	border: 1px solid black;
	border-top: none;
	text-align: center;

}
.precio3tyc {
	grid-area: Precio3;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.precio4tyc {
	grid-area: Precio4;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.productostyc {
	grid-area: Productos;
	border: 1px solid black;
}
.indumentariatyc {
	grid-area: Indumentaria;
	border: 1px solid black;
	border-bottom: none;
}
.discostyc { 
	grid-area: Discos;
	border: 1px solid black;
	border-bottom: none;
}
.vinilostyc {
	grid-area: Vinilos;
	border: 1px solid black;
	border-bottom: none;
}
.precios1tyc {
	grid-area: Precios1;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.precios2tyc {
	grid-area: Precios2;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
.precios3tyc {
	grid-area: Precios3;
	border: 1px solid black;
	border-top: none;
	text-align: center;
}
*/
/* Contacto */
.secc-contacto {
  background-image: radial-gradient(#333333, black);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  padding-bottom: 370px; }
  .secc-contacto h1 {
    padding-top: 100px; }
  .secc-contacto input {
    width: 300px;
    height: 35px;
    margin-top: 20px; }
  .secc-contacto textarea {
    width: 600px;
    height: 70px;
    margin-top: 5px; }
  .secc-contacto input, .secc-contacto textarea {
    background: transparent;
    border: solid 2px #cece5b;
    border-radius: 5px; }
  .secc-contacto .botones {
    color: white;
    width: 100px; }
  .secc-contacto .botones:hover {
    color: black;
    background-color: #cece5b; }
  .secc-contacto ::-webkit-input-placeholder {
    color: white; }

/* footer */
footer {
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center; }
  footer .ubic {
    font-size: medium;
    text-align: center;
    padding-top: 20px; }
  footer .minombre {
    font-size: small;
    padding-top: 10px;
    text-align: center;
    font-size: 13px; }
